<% content_for :title do %>CrossFit Glossary: 71 Terms You Should Know [Updated <%= (Time.now - 1.month).strftime("%B") %> 2018]<% end %>

<% content_for :description do %>This comprehensive CrossFit glossary with over 70+ terms will help you become an expert from day one and avoid confusion in the box. Videos included.<% end %>

<div class="container section light main-hero">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">
<h1 style="text-align: center;">CrossFit Glossary: 71 Terms <br /> You Should Know</h1>
    </div>
  </div>
</div>


<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-3 col-ml-auto">
      <p>CrossFit lingo can be hard to grasp at first.</p>
      <p>If it’s your first time in a CrossFit gym, you can be scared away by the strange terminology.</p>
      <p>But fair no more.</p> 
      <p>This comprehensive CrossFit glossary will help you become an expert from day one and avoid confusion in the box.</p>
    </div>
    <div class="column col-xs-12 col-3 col-mr-auto">
        <div class="index-box light">
          <h4>Table of Contents</h4>
          <ul>
            <li><a href="#index">Index</a></li>
            <li><a href="#general">General questions</a></li>
            <li><a href="#movements">Movements</a></li>
            <li><a href="#methodologies">Workout Structure</a></li>
            <li><a href="#workouts">Top workouts</a></li>
            <li><a href="#equipment">Equipment</a></li>
            <li><a href="#competitions">Competiton</a></li>
            <li><a href="#others">Others</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>


<%= render 'glossary-content' %>
<%= render 'glossary-questions' %>
<%= render 'glossary-movements' %>
<%= render 'glossary-methodologies' %>
<%= render 'glossary-workouts' %>
<%= render 'glossary-equipment' %>
<%= render 'glossary-competition' %>
<%= render 'glossary-others' %>


<!--- change ---->

<div class="container section text dark">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">
      <h2>Wrapping Up the Crossfit Glossary</h2>
      <p>I hope this CrossFit glossary helps you understand everything you need to know about CrossFit, even if you've never done it in your life.</p>


      <!-- <h3>Looking for more?</h3>
      <p>Check out some of the best CrossFit boxes around the world.</p> -->

       </div>
  </div>
</div>



<!--

<div class="container section boxes dark glossary-cities">
  <div class="columns">


<% @cities.limit(3).each do |city|  %>

<div class="column col-xs-12 col-4 col-mx-auto card-column">
      <div class="card featured-card" id="city-card">
            <div class="card-image">
              <%= image_tag(city.name, alt: city.name, class: "img-responsive") %>
            </div>
            <div class="card-header">
            <button class="btn tooltip tooltip-bottom float-right" data-tooltip="Average membership price" " id="box-features"><i class="em em-money_with_wings"></i> <%= city.currency %><%= city.boxes.average(:price).to_i %></button> 
            <button class="btn tooltip tooltip-bottom float-right" data-tooltip="Number of boxes" " id="box-features"><i class="em em-classical_building"></i>  <%= city.boxes.count %></button> 
              <h4 class="card-title"><%= link_to city.name, city_path(city) %></h4>
              <div class="card-subtitle text-gray"><%= city.country %></div>
            </div>
      </div>
    </div>
<% end %>

<div class="column col-xs-12 col-4 col-mx-auto card-column">
</div>
  </div>
</div>

-->

    

