<% content_for :title do %>CrossFit Membership Prices in the US & The World: [Updated <%= (Time.now).strftime("%B") %> 2018]<% end %>

<% content_for :description do %>This comprehensive study shows CrossFit pricess for different membership types around the United States and the World.<% end %>

<div class="container section dark prices-hero">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">
<h1 style="text-align: center;">CrossFit Membership Prices<br /> Around the US & The World</h1>
<p>Updated <%= (Time.now).strftime("%B") %> 2018</p>
    </div>
  </div>
</div>

<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-3 col-ml-auto">
      <p>Interested in knowing how much you should pay for CrossFit?</p>
      <p>We've looked at CrossFit membership prices around the United States and the world and after collecting over 1,400 data points, we've come up with some interesting discoveries.</p>
      <p>What's the most expensive country? Is NYC the most expensive state? Where on Earth is the cheapest box?</p>
      <p>All and more in here.</p>
    </div>
    <div class="column col-xs-12 col-3 col-mr-auto">
        <div class="index-box light">
          <h4>Table of Contents</h4>
          <ul>
            <li><a href="#index">Index</a></li>
            <li><a href="#countries">Countries</a></li>
            <li><a href="#states">US States</a></li>
            <li><a href="#membership">Types of Memberships</a></li>
            <li><a href="#expensive">Most expensive gyms</a></li>
            <li><a href="#raw">Raw data</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>

<div class="container section light text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">


<h2 id="countries">CrossFit Membership Prices Around The World</h2>
<p>Below you can find a list of the average price for a unlimited CrossFit membership around the world. The most expensive countries are:</p>
<ul>
  <li>Hong Kong, with an average monthly price of $315.63</li>
  <li>Korea, with an average monthly price of $250</li>
  <li>Cayman Islands, with an average monthly price of $240</li>
</ul>
<p>The United States is ranked number 11, after countries like Japan, Australia and the United Kingdom.</p>

<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT1cap9U8XcRwxQbdoilQYFdB_K1bNHIZwvTrPFfC_6fTIU6bcdiTd4657ls0zWPpbuHUUODO3J8HGc/pubchart?oid=439486182&amp;format=interactive"></iframe>

      <table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Country</th>
      <th>Average Membership Price</th>
    </tr>
  </thead>
  <tbody>
<tr><td>1</td><td>Hong Kong</td><td>$315.63</td></tr>
<tr><td>2</td><td>Korea</td><td>$250.00</td></tr>
<tr><td>3</td><td>Cayman Islands</td><td>$240.00</td></tr>
<tr><td>4</td><td>Japan</td><td>$226.75</td></tr>
<tr><td>5</td><td>Jordan</td><td>$190.00</td></tr>
<tr><td>6</td><td>United Kingdom</td><td>$181.66</td></tr>
<tr><td>7</td><td>Singapore</td><td>$173.50</td></tr>
<tr><td>8</td><td>Australia</td><td>$165.82</td></tr>
<tr><td>9</td><td>Taiwan</td><td>$160.00</td></tr>
<tr class="active"><td>10</td><td>United States 🇺🇸</td><td>$155.98</td></tr>
<tr><td>11</td><td>Ireland</td><td>$155.08</td></tr>
<tr><td>12</td><td>New Zealand</td><td>$151.99</td></tr>
<tr><td>13</td><td>Switzerland</td><td>$143.00</td></tr>
<tr><td>14</td><td>Germany</td><td>$136.62</td></tr>
<tr><td>15</td><td>France</td><td>$125.81</td></tr>
<tr><td>16</td><td>Panama</td><td>$125.00</td></tr>
<tr><td>17</td><td>Canada</td><td>$124.80</td></tr>
<tr><td>18</td><td>Norway</td><td>$124.44</td></tr>
<tr><td>19</td><td>Sweden</td><td>$124.25</td></tr>
<tr><td>20</td><td>Spain</td><td>$113.17</td></tr>
<tr><td>21</td><td>Finland</td><td>$108.03</td></tr>
<tr><td>22</td><td>Netherlands</td><td>$107.00</td></tr>
<tr><td>23</td><td>Reunion Island</td><td>$106.22</td></tr>
<tr><td>24</td><td>Aruba</td><td>$106.00</td></tr>
<tr><td>25</td><td>Malaysia</td><td>$105.00</td></tr>
<tr><td>26</td><td>Czech Republic</td><td>$96.00</td></tr>
<tr><td>27</td><td>Suriname</td><td>$90.00</td></tr>
<tr><td>28</td><td>Vietnam</td><td>$90.00</td></tr>
<tr><td>29</td><td>Scotland</td><td>$89.20</td></tr>
<tr><td>30</td><td>Portugal</td><td>$84.98</td></tr>
<tr><td>31</td><td>Mexico</td><td>$83.00</td></tr>
<tr><td>32</td><td>Costa Rica</td><td>$80.00</td></tr>
<tr><td>33</td><td>Jamaica</td><td>$80.00</td></tr>
<tr><td>34</td><td>Namibia</td><td>$76.00</td></tr>
<tr><td>35</td><td>South Africa</td><td>$72.93</td></tr>
<tr><td>36</td><td>Wales</td><td>$72.31</td></tr>
<tr><td>37</td><td>Denmark</td><td>$64.87</td></tr>
<tr><td>38</td><td>Uruguay</td><td>$62.00</td></tr>
<tr><td>39</td><td>Romania</td><td>$53.45</td></tr>
<tr><td>40</td><td>Mongolia</td><td>$53.00</td></tr>
<tr><td>41</td><td>El Salvador</td><td>$50.00</td></tr>
<tr><td>42</td><td>Serbia</td><td>$50.00</td></tr>
<tr><td>43</td><td>Argentina</td><td>$34.26</td></tr>
<tr><td>44</td><td>Brazil</td><td>$33.32</td></tr>
  </tbody>
</table>


    </div>
  </div>
</div>


<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="states">CrossFit Membership Prices Around The United States</h2>
<p>Below you can find a list of the average price for a unlimited CrossFit membership in every US state. The most expensive states are:</p>
<ul>
  <li>District of Columbia, with an average monthly price of $260</li>
  <li>New York, with an average monthly price of $203.77</li>
  <li>Rhode Island, with an average monthly price of $183.50</li>
</ul>
<p>Surprisingly, California is ranked number six, right after Hawaii.</p>
<p></p>

<div class="chart">
<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT1cap9U8XcRwxQbdoilQYFdB_K1bNHIZwvTrPFfC_6fTIU6bcdiTd4657ls0zWPpbuHUUODO3J8HGc/pubchart?oid=2034141791&amp;format=interactive"></iframe>
</div> 

     <table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>State Code</th>
      <th>State</th>
      <th>Average Membership Price</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>DC</td><td>District of Columbia</td><td>$260.00</td></tr>
<tr><td>2</td><td>NY</td><td>New York</td><td>$203.77</td></tr>
<tr><td>3</td><td>RI</td><td>Rhode Island</td><td>$183.50</td></tr>
<tr><td>4</td><td>WA</td><td>Washington</td><td>$181.74</td></tr>
<tr><td>5</td><td>HI</td><td>Hawaii</td><td>$180.29</td></tr>
<tr><td>6</td><td>CA</td><td>California</td><td>$179.81</td></tr>
<tr><td>7</td><td>VT</td><td>Vermont</td><td>$175.00</td></tr>
<tr><td>8</td><td>NJ</td><td>New Jersey</td><td>$174.39</td></tr>
<tr><td>9</td><td>MA</td><td>Massachussets</td><td>$172.07</td></tr>
<tr><td>10</td><td>CT</td><td>Connecticut</td><td>$171.82</td></tr>
<tr><td>11</td><td>MN</td><td>Minnesota</td><td>$170.41</td></tr>
<tr><td>12</td><td>NH</td><td>New Hampshire</td><td>$170.00</td></tr>
<tr><td>13</td><td>DE</td><td>Delaware</td><td>$166.67</td></tr>
<tr><td>14</td><td>AK</td><td>Alaska</td><td>$165.00</td></tr>
<tr><td>15</td><td>TX</td><td>Texas</td><td>$164.87</td></tr>
<tr><td>16</td><td>MO</td><td>Missouri</td><td>$161.44</td></tr>
<tr><td>17</td><td>NV</td><td>Nevada</td><td>$161.19</td></tr>
<tr><td>18</td><td>MD</td><td>Maryland</td><td>$159.81</td></tr>
<tr><td>19</td><td>IL</td><td>Illinois</td><td>$156.04</td></tr>
<tr><td>20</td><td>VA</td><td>Virginia</td><td>$155.58</td></tr>
<tr><td>21</td><td>NC</td><td>North Carolina</td><td>$155.06</td></tr>
<tr><td>22</td><td>CO</td><td>Colorado</td><td>$151.29</td></tr>
<tr><td>23</td><td>OR</td><td>Oregon</td><td>$151.05</td></tr>
<tr><td>24</td><td>TN</td><td>Tennessee</td><td>$150.70</td></tr>
<tr><td>25</td><td>WY</td><td>Wyoming</td><td>$150.00</td></tr>
<tr><td>26</td><td>FL</td><td>Florida</td><td>$149.54</td></tr>
<tr><td>27</td><td>PA</td><td>Penssylvania</td><td>$148.43</td></tr>
<tr><td>28</td><td>AZ</td><td>Arizona</td><td>$145.14</td></tr>
<tr><td>29</td><td>ND</td><td>North Dakota</td><td>$142.50</td></tr>
<tr><td>30</td><td>AL</td><td>Alabama</td><td>$141.64</td></tr>
<tr><td>31</td><td>SC</td><td>South Carolina</td><td>$140.62</td></tr>
<tr><td>32</td><td>GA</td><td>Georgia</td><td>$140.26</td></tr>
<tr><td>33</td><td>NE</td><td>Nebraska</td><td>$138.33</td></tr>
<tr><td>34</td><td>UT</td><td>Utah</td><td>$136.15</td></tr>
<tr><td>35</td><td>IN</td><td>Indiana</td><td>$134.33</td></tr>
<tr><td>36</td><td>WI</td><td>Wisconsin</td><td>$130.59</td></tr>
<tr><td>37</td><td>MI</td><td>Michigan</td><td>$129.77</td></tr>
<tr><td>38</td><td>OH</td><td>Ohio</td><td>$128.22</td></tr>
<tr><td>39</td><td>OK</td><td>Oklahoma</td><td>$126.67</td></tr>
<tr><td>40</td><td>NM</td><td>New Mexico</td><td>$125.00</td></tr>
<tr><td>41</td><td>KY</td><td>Kentucky</td><td>$124.80</td></tr>
<tr><td>42</td><td>ID</td><td>Idaho</td><td>$123.17</td></tr>
<tr><td>43</td><td>LA</td><td>Louisiana</td><td>$123.00</td></tr>
<tr><td>44</td><td>KS</td><td>Kansas</td><td>$122.20</td></tr>
<tr><td>45</td><td>WV</td><td>West Virginia</td><td>$116.25</td></tr>
<tr><td>46</td><td>IA</td><td>Iowa</td><td>$116.17</td></tr>
<tr><td>47</td><td>ME</td><td>Maine</td><td>$113.75</td></tr>
<tr><td>48</td><td>MT</td><td>Montana</td><td>$108.75</td></tr>
<tr><td>49</td><td>MS</td><td>Mississipi</td><td>$103.75</td></tr>
<tr><td>50</td><td>AR</td><td>Arkansas</td><td>$97.50</td></tr>
  </tbody>
</table>

</div></div></div>

<div class="container section light text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="membership">Price variations across Membership Types</h2>
<p>We commontly see different types of memberships:</p>
<ul>
  <li>Unlimited</li>
  <li>3 days per week</li>
  <li>4 days per week</li>
  <li>5 days per week</li>
  <li>Families and couples</li>
  <li>Others (Open Gym, Weightlifting, etc.)</li>
</ul>


<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT1cap9U8XcRwxQbdoilQYFdB_K1bNHIZwvTrPFfC_6fTIU6bcdiTd4657ls0zWPpbuHUUODO3J8HGc/pubchart?oid=1358481075&amp;format=interactive"></iframe>

<p>Here's a chart outlining the price variation across Membership types:</p>

<table class="table">
  <thead>
    <tr>
      <th>Membership type</th>
      <th>Average price</th>
    </tr>
  </thead>
  <tbody>
<tr><td>2 days/week</td><td>$66.51</td></tr>
<tr><td>3 days/week</td><td>$114.03</td></tr>
<tr><td>4 days/week</td><td>$133.52</td></tr>
<tr><td>5 days/week</td><td>$80.03</td></tr>
<tr><td>Open Gym</td><td>$59.75</td></tr>
<tr><td>Unlimited</td><td>$136.42</td></tr>
<tr><td>Unlimited Couple</td><td>$194.89</td></tr>
<tr><td>Unlimited Family</td><td>$222.50</td></tr>
<tr><td>Weightlifting</td><td>$115.00</td></tr>
 </tbody>
</table>

</div></div></div>

<!-- end -->

<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="expensive">Most expensive CrossFit gyms in the world</h2>
<p>If you are curious, here's the list of the 32 most expensive CrossFit gyms in the world. All of them are located in the United States, United Kingdom, Hong Kong, Japan or Dubai. Below you'll find the 3 more expensive, in USD.</p>
<ul>
  <li>Crossfit Asphodel in Hong Kong, at $351 per month for an unlimited membership.</li>
  <li><a href="https://roundsfortime.com/boxes/crossfit-central-london">Crossfit Central</a> in London, at $331.25 per month for an unlimited membership.</li>
  <li><a href="https://roundsfortime.com/boxes/crossfit-vauxhall">CrossFit Vauxhall</a> in London, at $331.25 per month for an unlimited membership.</li>
</ul>

<p>Here's a chart outlining the top 32 most expensive CrossFit gyms:</p>

<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Box</th>
       <th>Price</th>
      <th>City</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
<tr><td>1</td><td>Crossfit Asphodel</td><td>$351.00</td><td>Hong Kong</td><td>Hong Kong</td></tr>
<tr><td>2</td><td>CrossFit Central London</td><td>$331.25</td><td>London</td><td>United Kingdom</td></tr>
<tr><td>3</td><td>CrossFit Vauxhall</td><td>$331.25</td><td>London</td><td>United Kingdom</td></tr>
<tr><td>4</td><td>Crossfit SPOT</td><td>$329.00</td><td>New York</td><td>United States</td></tr>
<tr><td>5</td><td>Crossfit Spot</td><td>$329.00</td><td>New York</td><td>United States</td></tr>
<tr><td>6</td><td>Crossfit DogTown</td><td>$325.00</td><td>Los Angeles</td><td>United States</td></tr>
<tr><td>7</td><td>Crossfit 852</td><td>$318.50</td><td>Hong Kong</td><td>Hong Kong</td></tr>
<tr><td>8</td><td>Crossfit Solace</td><td>$315.00</td><td>New York</td><td>United States</td></tr>
<tr><td>9</td><td>Timberwolf Crossfit</td><td>$315.00</td><td>Saint Paul</td><td>United States</td></tr>
<tr><td>10</td><td>San Francisco CrossFit</td><td>$300.00</td><td>San Francisco</td><td>United States</td></tr>
<tr><td>11</td><td>Flagship</td><td>$300.00</td><td>San Francisco</td><td>United States</td></tr>
<tr><td>12</td><td>CrossFit Jaakarhu</td><td>$300.00</td><td>Austin</td><td>United States</td></tr>
<tr><td>13</td><td>Crossfit NYC</td><td>$299.00</td><td>New York City</td><td>United States</td></tr>
<tr><td>14</td><td>Coastal Fitness</td><td>$299.00</td><td>Hong Kong</td><td>Hong Kong</td></tr>
<tr><td>15</td><td>Arena Ready Crossfit</td><td>$299.00</td><td>San Francisco</td><td>United States</td></tr>
<tr><td>16</td><td>Crossfit LA (Oak Park)</td><td>$295.00</td><td>Los Angeles</td><td>United States</td></tr>
<tr><td>17</td><td>Coastal Fitness</td><td>$294.00</td><td>Hong Kong</td><td>Hong Kong</td></tr>
<tr><td>18</td><td>Flagship Athletic Performance</td><td>$290.00</td><td>San Francisco</td><td>United States</td></tr>
<tr><td>19</td><td>Flagship Athletic Performance</td><td>$290.00</td><td>San Francisco</td><td>United States</td></tr>
<tr><td>20</td><td>Paradiso Crossfit</td><td>$289.00</td><td>Los Angeles</td><td>United States</td></tr>
<tr><td>21</td><td>Potomac Crossfit</td><td>$285.00</td><td>Arlington</td><td>United States</td></tr>
<tr><td>22</td><td>Crossfit Roppongi</td><td>$282.50</td><td>Tokyo</td><td>Japan</td></tr>
<tr><td>23</td><td>CrossFit Evolving</td><td>$281.25</td><td>London</td><td>United Kingdom</td></tr>
<tr><td>24</td><td>CrossFit Evolving Kilburn</td><td>$281.25</td><td>London</td><td>United Kingdom</td></tr>
<tr><td>25</td><td>Diablo CrossFit Moxie</td><td>$279.00</td><td>San Jose</td><td>United States</td></tr>
<tr><td>26</td><td>Goose Island CrossFit</td><td>$276.00</td><td>Chicago</td><td>United States</td></tr>
<tr><td>27</td><td>Spry Society Academy of Fitness</td><td>$275.00</td><td>Culver City</td><td>United States</td></tr>
<tr><td>28</td><td>CrossFit Blackfriars</td><td>$275.00</td><td>London</td><td>United Kingdom</td></tr>
<tr><td>29</td><td>CrossFit Thames</td><td>$272.50</td><td>London</td><td>United Kingdom</td></tr>
<tr><td>30</td><td>Crossfit Platform</td><td>$272.00</td><td>Dubai</td><td>United Arab Emirates</td></tr>
<tr><td>31</td><td>Crossfit Gantry</td><td>$265.00</td><td>Long Island City</td><td>United States</td></tr>
<tr><td>32</td><td>Crossfit South Brooklyn</td><td>$265.00</td><td>Brooklyn</td><td>United States</td></tr>
 </tbody>
</table>

</div></div></div>

<!-- end -->


<div class="container section light text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="raw">Raw data</h2>
<p>Interested where the raw data is coming? It was collected by combining manual research and surveys. If you want to take a look, you can download it <a href="https://docs.google.com/spreadsheets/d/1ubLXizMC-WxA5SM5D_0Yv5kudUtbScKR_GJjsU9_7_I/edit?usp=sharing">here</a>.</p>

</div></div></div>

<!-- end -->

<div class="container section dark" id="cities">
  <div class="columns"> 
    <div class="column col-10 col-xs-12 col-mx-auto">

      <h2>Other stuff you might be interested in</h2>
      <p>Articles, other cities and more. We are working hard in-between WODs<br /> to increase our coverage.</p>
    </div>
  </div>


  <div class="container section boxes">
    <div class="columns">

      <div class="column col-xs-12 col-4 col-mx-auto card-column">
       
      <div class="card featured-card" id="city-card">
            <div class="card-image">
              <%= image_tag("glossary-thumbnail.jpg", class: "img-responsive") %>
            </div>
            <div class="card-header">
              <h4 class="card-title"><%= link_to 'Crossfit Glossary', crossfit_glossary_path %></h4>
              <div class="card-subtitle text-gray">71 terms you should know</div>
            </div>
    </div>
</div>

<% @cities.limit(2).order("RANDOM()").each do |city|  %>
<div class="column col-xs-12 col-4 col-mx-auto card-column">
      <div class="card featured-card" id="city-card">
            <div class="card-image">
              <%= image_tag(city.name, alt: city.name, class: "img-responsive") %>
            </div>
            <div class="card-header">
            <button class="btn tooltip tooltip-bottom float-right" data-tooltip="Average membership price" " id="box-features"><i class="em em-money_with_wings"></i> <%= city.currency %><%= city.boxes.average(:price).to_i %></button> 
            <button class="btn tooltip tooltip-bottom float-right" data-tooltip="Number of boxes" " id="box-features"><i class="em em-classical_building"></i>  <%= city.boxes.count %></button> 
                            <h4 class="card-title">
                <%= link_to city_path(city) do %><%= city.name %><% if city.state != nil %>, <%= city.state %><%end%><% end %>
                </h4>
              <div class="card-subtitle text-gray"><%= city.country %></div>
            </div>
      </div>
    </div>
<% end %>

  </div>


</div>
</div>


<!-- Ideas + map

usd by state

+ map 

###

highest country
lower country


usd by membership type
rest of world by membership type

country from low to high on average

ude you need to figure out avarage income for all these locations and present as percentage of income

###
 ->