<% content_for :title do %><%= @boxes.count %> Best CrossFit Gyms in <%= @city.name %><% if @city.state != nil %>, <%= @city.state %><%end%>: Our Top Picks (Updated <%= (Time.now - 1.month).strftime("%B") %> 2018)<% end %>

<% content_for :description do %>We selected the best <%= @boxes.count %> strength-and-conditioning, cross-training and CrossFit® gyms in <%= @city.name %> based on their facilities, location, coach certifications, drop-in policy and pricing. Check them out!<% end %>

<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h1 style="text-align: center;">The best CrossFit® gyms in <%= @city.name %><% if @city.state != nil %>, <%= @city.state %><% end %></h1>
  <p>There are <strong><%= @boxes.count %></strong> affiliated Crossfit gyms in <%= @city.name %> that meet our high standards. The average price is <%= @city.currency %><%= @boxes.average(:price).to_i %> per month for an Unlimited Membership. You can find a list of the <strong>best CrossFit® gyms in <%= @city.name %></strong> below, in no particular order.</p>

<p><a href="#better" class="vetted-note">Why are we better?</a> <i class="fas fa-arrow-down" style="font-size: 10px;"></i></p>

    </div>
  </div>
</div>

<!-- Map -->

<style>
  #map_wrapper {
    height: 300px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
</style>

  <div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>

<script>
  jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyBgmzwsz6DWR_lOrzthsHkqRrSMU8-b10Y&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = [
    <% @boxes.each do |box|  %>
      <% if box.latitude %>
      ['<%= box.name %>', <%= box.latitude %>, <%= box.longitude %>],
      <% end %>
    <% end %>
      // ['CrossFit Ireland', 53.2780014, -6.2197975], 
      // ['CrossFit C2F', 53.2730787, -6.2139613], 
      // ['CrossFit 536', 53.297581, -6.178500], 
      // ['CrossFit Powerful', 53.40192125, -6.35078946821415], 
      // ['CrossFit Green', 53.2786122, -6.2182892],
    ];
                        
    // Info Window Content
    var infoWindowContent = [



 <% @boxes.each do |box|  %>
      <% if box.latitude %>
      ['<div class="info_content">' + '<h4><%= box.name %></h4>' + '<% if box.dropin? %><p>Drop-ins accepted.</p><% end %>' + '</div>'],
      <% end %>
    <% end %>

      //  ['<div class="info_content">' +
      //  '<h4>Crossfit Ireland</h4>'
      //  + '<p>Drop-ins acceped</p>' +
      //  '</div>'],
       // ['<div class="info_content">' +
        // '<h4>CrossFit C2F</h4>' +
       // '</div>'],
       // ['<div class="info_content">' +
       // '<h4>CrossFit 536</h4>' +
       // '</div>'],
        //['<div class="info_content">' +
        //'<h4>CrossFit Powerful</h4>' +
        //'</div>'],
        //['<div class="info_content">' +
        //'<h4>CrossFit Green</h4>' +
        //'</div>'],

    ];
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
      map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(10);
        google.maps.event.removeListener(boundsListener);
    });
    
}

</script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgmzwsz6DWR_lOrzthsHkqRrSMU8-b10Y&callback=initMap">
  </script>


<!-- Map -->

<div class="container section boxes">
    <div class="columns">

<% @boxes.each do |box|  %>

<div class="column col-xs-12 col-5 col-mx-auto card-column">
      <div class="card featured-card">
            <div class="card-image">
              <%= image_tag(box.name, alt: box.name, class: "img-responsive") %>
  
            </div>
            <div class="card-header">
              <h3 class="card-title"><%= link_to box.name, box_path(box) %>


                </h3>
              <div class="card-subtitle text-gray"><%= box.address %>, <%= @city.name %></div>
            </div>
            <div class="card-body">
              <%= box.description %><% if box.dropin? %> Drop-ins accepted.<% end %>
            </div>
            <div class="card-footer">
              <% if box.certification.empty? %><% else %><button class="btn tooltip tooltip-bottom" data-tooltip="Highest coach certification" id="box-features"><i class="em em-man-lifting-weights"></i> <%= box.certification %></button><% end %>
              <button class="btn tooltip tooltip-bottom" data-tooltip="Active in social media?"  id="box-features"><i class="em em-iphone"></i>     
                <% if box.is_social? %> 
                  <i class="fas fa-check"></i>
                  <% else %> 
                  <i class="fas fa-times"></i>
                <% end %>
              </button>
              <% if box.opening != nil %><button class="btn tooltip tooltip-bottom" data-tooltip="Opening year" id="box-features"><i class="em em-calendar" style="margin-right: 4px;"></i><%= box.opening %></button><% end %>
              <% if box.price != nil %><button class="btn tooltip tooltip-bottom" data-tooltip="Monthly membership" " id="box-features"><i class="em em-money_with_wings"></i> <%= box.currency %><%= box.price %></button><% end %>
              <% if box.facebook != nil %><a class="btn" id="box-social" href="<%= box.facebook %>"><i class="fab fa-facebook-f social"></i></a><% end %>
              <% if box.instagram != nil %><a class="btn" id="box-social" href="<%= box.instagram %>"><i class="fab fa-instagram"></i></a><% end %>
            </div>
      </div>
    </div>
<% end %>


  </div>
</div>

<!-- Section -->

<%= render 'benefits' %>

<!-- Section -->

<!-- Section -->


<div class="container section dark" id="cities">
  <div class="columns"> 
    <div class="column col-10 col-xs-12 col-mx-auto">

      <h2>Other stuff you might be interested in</h2>
      <p>Articles, other cities and more. We are working hard in-between WODs<br /> to increase our coverage.</p>
    </div>
  </div>


  <div class="container section boxes">
    <div class="columns">

      <div class="column col-xs-12 col-4 col-mx-auto card-column">
       
      <div class="card featured-card" id="city-card">
            <div class="card-image">
              <%= image_tag("glossary-thumbnail.jpg", class: "img-responsive") %>
            </div>
            <div class="card-header">
              <h4 class="card-title"><%= link_to 'Crossfit Glossary', crossfit_glossary_path %></h4>
              <div class="card-subtitle text-gray">71 terms you should know</div>
            </div>
    </div>
</div>

<% @cities.limit(2).order("RANDOM()").each do |city|  %>
<div class="column col-xs-12 col-4 col-mx-auto card-column">
      <div class="card featured-card" id="city-card">
            <div class="card-image">
              <%= image_tag(city.name, alt: city.name, class: "img-responsive") %>
            </div>
            <div class="card-header">
            <button class="btn tooltip tooltip-bottom float-right" data-tooltip="Average membership price" " id="box-features"><i class="em em-money_with_wings"></i> <%= city.currency %><%= city.boxes.average(:price).to_i %></button> 
            <button class="btn tooltip tooltip-bottom float-right" data-tooltip="Number of boxes" " id="box-features"><i class="em em-classical_building"></i>  <%= city.boxes.count %></button> 
                            <h4 class="card-title">
                <%= link_to city_path(city) do %><%= city.name %><% if city.state != nil %>, <%= city.state %><%end%><% end %>
                </h4>
              <div class="card-subtitle text-gray"><%= city.country %></div>
            </div>
      </div>
    </div>
<% end %>

  </div>


</div>
</div>
