<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h1 style="text-align: center;">The best Crossfit gyms in <%= @city.name %></h1>
<p>There are <strong>25</strong> affiliated Crossfit gyms in Dublin, and the average price is 190 EUR. You can find a list of the best Crossfit gyms in <%= @city.name %> below, in no particular order.</p>

<p><a href="#better" class="vetted-note">Why are we better?</a> <i class="fas fa-arrow-down"></i></p>

    </div>
  </div>
</div>

<div class="container section boxes">
    <div class="columns">

<% @boxes.each do |box|  %>

<div class="column col-xs-12 col-5 col-mx-auto card-column">
      <div class="card featured-card">
            <div class="card-image">
              <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <h3 class="card-title"><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow"><%= box.name %></a></h3>
              <div class="card-subtitle text-gray"><%= box.address %>, <%= box.city %></div>
            </div>
            <div class="card-body">
              <%= box.description %>
            </div>
            <div class="card-footer">
              <button class="btn" id="box-features"><i class="em em-man-lifting-weights"></i> <%= box.certification %></button>
              <button class="btn" id="box-features"><i class="em em-iphone"></i>     
                <% if box.is_social? %> 
                  <i class="fas fa-check"></i>
                  <% else %> 
                  <i class="fas fa-cross"></i>
                <% end %>
              </button>
              <button class="btn" id="box-features"><i class="em em-calendar"></i> <%= box.opening %></button>
              <button class="btn" id="box-features"><i class="em em-money_with_wings"></i> <%= box.currency %><%= box.price %></button>
              <a class="btn" id="box-social" href="<%= box.facebook %>"><i class="fab fa-facebook-f social"></i></a>
              <a class="btn" id="box-social" href="<%= box.instagram %>"><i class="fab fa-instagram"></i></a>
            </div>
      </div>
    </div>
<% end %>


  </div>
</div>

<!-- Section -->

<%= render 'benefits' %>