<% content_for :title do %><%= @boxes.count %> Best CrossFit Gyms in <%= @city.name %>: Our Top Picks (Updated <%= (Time.now - 1.month).strftime("%B") %> 2018)<% end %>

<% content_for :description do %>We selected the best <%= @boxes.count %> CrossFit gyms in <%= @city.name %> based on their facilities, location, coach certifications, drop-in policy and pricing. Check them out!<% end %>

<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h1 style="text-align: center;">The best Crossfit gyms in <%= @city.name %></h1>
  <p>There are <strong><%= @boxes.count %></strong> affiliated Crossfit gyms in <%= @city.name %> that meet our high standards. The average price is <%= @city.currency %><%= @boxes.average(:price).to_i %> per month for an Unlimited Membership. You can find a list of the <strong>best Crossfit gyms in <%= @city.name %></strong> below, in no particular order.</p>

<p><a href="#better" class="vetted-note">Why are we better?</a> <i class="fas fa-arrow-down" style="font-size: 10px;"></i></p>

    </div>
  </div>
</div>

<div class="container section boxes">
    <div class="columns">

<% @boxes.each do |box|  %>

<div class="column col-xs-12 col-5 col-mx-auto card-column">
      <div class="card featured-card">
            <div class="card-image">
              <%= image_tag(box.name, alt: box.name, class: "img-responsive") %>
  
            </div>
            <div class="card-header">
              <h3 class="card-title"><a href="<%= box.url %>" target="_noblank" rel="external nofollow"><%= box.name %></a></h3>
              <div class="card-subtitle text-gray"><%= box.address %>, <%= @city.name %></div>
            </div>
            <div class="card-body">
              <%= box.description %><% if box.dropin? %> Drop-ins accepted.<% end %>
            </div>
            <div class="card-footer">
              <% if box.certification.empty? %><% else %><button class="btn tooltip tooltip-bottom" data-tooltip="Highest coach certification" id="box-features"><i class="em em-man-lifting-weights"></i> <%= box.certification %></button><% end %>
              <button class="btn tooltip tooltip-bottom" data-tooltip="Active in social media?"  id="box-features"><i class="em em-iphone"></i>     
                <% if box.is_social? %> 
                  <i class="fas fa-check"></i>
                  <% else %> 
                  <i class="fas fa-times"></i>
                <% end %>
              </button>
              <% if box.opening != nil %><button class="btn tooltip tooltip-bottom" data-tooltip="Opening year" id="box-features"><i class="em em-calendar" style="margin-right: 4px;"></i><%= box.opening %></button><% end %>
              <% if box.price != nil %><button class="btn tooltip tooltip-bottom" data-tooltip="Monthly membership" " id="box-features"><i class="em em-money_with_wings"></i> <%= box.currency %><%= box.price %></button><% end %>
              <% if box.facebook != nil %><a class="btn" id="box-social" href="<%= box.facebook %>"><i class="fab fa-facebook-f social"></i></a><% end %>
              <% if box.instagram != nil %><a class="btn" id="box-social" href="<%= box.instagram %>"><i class="fab fa-instagram"></i></a><% end %>
            </div>
      </div>
    </div>
<% end %>


  </div>
</div>

<!-- Section -->

<%= render 'benefits' %>