<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116872227-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116872227-1');
    </script>

    <title>
      <% if content_for? :page_title %>
        <%= yield :page_title_count %> Best Crossfit Gyms in <%= yield :page_title %>
      <% else %>
        Rounds For Time: Find The Best Crossfit Gym Near You
      <% end %>
    </title>

    <% if content_for? :meta_description %>
        <meta name="description" content="There are <%= yield :page_title_count %> Crossfit gyms in <%= yield :meta_description %> that meet our standards. Check them out!" />
        <% else %>
      <meta name="description" content="A carefully curated list of the best Crossfit box in over 50 cities across the United States and around the world." />
    <% end %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
        <%= link_to root_path, :class => 'logo' do %><i class="fas fa-fire"></i> Rounds for Time<% end %>
      </section>
      <section class="navbar-section">
        <a href="https://goo.gl/forms/3ITXCTxjgz3MclEe2">Submit a Box</a>
        <%= link_to 'Crossfit Glossary', crossfit_glossary_path %>
      </section>
    </header>

    <main class="content">
        <%= yield %>
    </main>
    
    <footer class="footer">
      Built with lots of <i class="em em-coffee"></i> in Paris<br/><span class="footer-note"><i>© 2018 Rounds for Time</i></span>
    </footer>
  </body>
</html>

