<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rounds For Time: Find The Best Crossfit Gym Near You</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="A carefully curated list of the best Crossfit box in over 50 cities across the United States and around the world.">
    <meta name="viewport" content="width=devide-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
        <%= link_to root_path, :class => 'logo' do %><i class="fas fa-fire"></i> Rounds for Time<% end %>
      </section>
      <section class="navbar-section">
        <a href="#">Submit a Box</a>
        <%= link_to 'Crossfit Glossary', crossfit_glossary_path %>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </section>
    </header>

    <main class="content">
        <%= yield %>
    </main>
    
    <footer class="footer">
      Built with lots of <i class="em em-coffee"></i> in Paris<br/><span class="footer-note"><i>© 2018 Rounds for Time</i></span>
    </footer>
  </body>
</html>
